{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [["import", { "libraryName": "antd", "style": true }],
        ["transform-runtime", 
            {
                "helpers": false,
                "polyfill": false,
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        }
    }
}
