body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td
  margin 0
  padding 0
html,body
  font-family 'Microsoft YaHei'
  width 100%
  height auto !important
  overflow-x hidden
ul,li
  list-style-type none
img
  border 0
a:focus
  outline none
input,button,select,textarea
  outline none
  font-family "microsoft yahei"
  font-size inherit
  font-weight inherit
  line-height 1.5
  vertical-align middle

a
  cursor pointer
textarea
  resize none


/*主体*/
.main
  width 1280px
  // padding-bottom 50px
  // padding-top 50px
  margin 0 auto

/*尾部*/
.footer
  width 100%
  height 100px
  background-color #f3f3f3
  .footer-main
    position relative
    width 100%
    height 100%
    margin 0 auto
    .footer-bottom
      text-align: center;
      width: 100%;
      font-size: 12px;
      color: #919dae;
      padding-top 42px
      p
        a
          color #919dae
          text-decoration none
        a:hover
          color #36bac9
    .footer-top
      position relative
      height 138px
      width 100%
      top 0
      left 0
      .footer-left
        padding-top 27px
        .footer-tit
          font-size 16px
        .footer-con
          p
            margin-top 8px
            a
              margin-right 49px
              color #222
              text-decoration none
              font-size 14px
          p:first-child
            margin-top 18px
      .footer-right
        position absolute
        width 207px
        bottom 0px
        right 117px
        .erp
          background-color #fbfbfb
          border 1px solid #dcdcdc
          width 100px
          img
            width 90px
            height 90px
            margin 0 auto
            display block
            border 5px solid #fbfbfb
        .wenzi
          position absolute
          right 0
          top 35px
          text-align center
          font-size 12px
          color #222
    
/*banner*/
.banner
  border-bottom 1px solid #d2d2d2
  .swiper-container
    width 100%
    height 420px
    margin 0 auto
    .swiper-slide
      background-color #fff
      width 100%
      position relative
      overflow hidden
      height 420px
      a
        img
          height 100%
          width auto
          margin 0 auto
          display block
          position absolute
         
    .pagination
      position absolute
      height 25px
      width auto
      bottom 30px
      left 70%
      text-align center
      span
        display inline-block
        width 14px 
        height 14px
        border-radius 50%
        border 1px solid #fff
        background-color #bfbfbf
        margin 0 6px
        cursor default
      .swiper-active-switch
        border-color #535353
        background-color #fff


/*分页*/
.tcdPageCode
  padding 15px 20px
  text-align center
  color #919095
  font-size 14px
  margin-top 25px
  a
    display inline-block
    color #919095
    display inline-block
    height 40px
    line-height 40px
    padding 0 15px
    border 1px solid #dcdcdc
    background-color #fbfbfb
    margin 0 10px
    border-radius 4px
    vertical-align middle
    text-decoration none
  a:hover
    text-decoration none
    border 1px solid #428bca
  span.current
    display inline-block
    height 40px
    line-height 40px
    padding 0 15px
    margin 0 10px
    color #fff
    background-color #25aaf1
    border 1px solid #428bca
    border-radius 4px
    vertical-align middle
  span.disabled
    display inline-block
    height 40px
    line-height 40px
    padding 0 15px
    margin 0 10px
    color #bfbfbf
    background #f2f2f2
    border 1px solid #bfbfbf
    border-radius 4px
    vertical-align middle

  
  /*带图片卡片*/
.custom-image img 
  display: block
  width: 300px;
  height: 200px;
.custom-card 
  h3
    font-size: 16px;
    color: #344559;
    padding-top: 25px;
    padding-bottom: 10px;
.custom-card p 
  color: #999
.pull-left
  float: left;
.pull-right
  float: right;
// .content-three-line
//     position: relative;
//     display: -webkit-box !important;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 3;
// .content-two-line
//     position: relative;
//     display: -webkit-box !important;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 2;
// .content-one-line
//     position: relative;
//     display: -webkit-box !important;
//     -webkit-box-orient: vertical;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     -webkit-line-clamp: 1;
.totalHeight
    height: 100%;
#root
    height: 100%;
.hidden
    display: none;
.ant-menu-horizontal > .ant-menu-item > a:hover, .ant-menu-horizontal > .ant-menu-submenu > a:hover
    color: #36bac9 !important
.ant-menu-vertical .ant-menu-item > a
    color: #fff !important

.main-login
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #ffffff
  position: fixed
  top: 0
  display: flex;
  justify-content: center;
  align-items: center;
.hidden-login
  opacity: 0
  z-index: 0;
  transition: opacity 1s
.main-content
  opacity: 0
  height: 100%
.show-content
  opacity: 1
  transition: opacity 1s

.profile-box-cover
    width: 100%
    height: 100%
    z-index: 10
    position: fixed;
    background-color: black
    opacity: 0.5
.novel-creater-profile-box
    width: 66%;
    height: 50%;
    position: fixed;
    left: 0;
    right: 0;
    top: 20%;
    margin: 0 auto;
    z-index: 10;
    background-color: #ffffff;
    padding: 20px;
    .novel-profile-head
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;