.main-login
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #ffffff
  position: fixed
  top: 0
  display: flex;
  justify-content: center;
  align-items: center;
.hidden-login
  opacity: 0
  z-index: -100;
  transition: opacity 1s
.main-content
  opacity: 0
  height: 100%
.show-content
  opacity: 1
  transition: opacity 1s
.content-wrapper
  overflow: scroll;
  height: 100%;