.ya-title{
  font-size:20px;
  color:#525252;
}
.ya-more-link{
  font-size:12px;
  color:#969696;
  line-height:30px;
  margin-right:10px;
  cursor: pointer;
}
.ya-more-link img{
  margin-left:10px;
}
.ya-clear:after{
  content: " ";
  width: 0;
  height: 0;
  display: block;
  clear:both;
}
.ya-container-merge{
    padding-right: 0 ;
    padding-left: 0 ;
    height: 100%;
    position: relative;
}
.ya-module-container{
    width:100%;
    display:block;
}
.desc-font-style{
  color: #969696;
  font-size: 12px;
}
.ya-alin-middle{
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}
.ya-alin-middle2{
    width: 100%;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    -webkit-transform: translate(0,-50%);
    -moz-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.ya-center-middle2{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
}
.ya-alin-center-middle2{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.ya-alin-center-middle{
  position: relative;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
}
.ya-banner-cover{
  height: 100%;
  background-size: cover !important;
  background-position: center top !important;
}
.ya-whole-container{
   width: 100%;  
}
.ya-theme{
  color: #36bac9;
}
.ya-white-title{
  color: #ffffff;
}
.ya-white-sub-title{
  color: #b5ebf1;
}
.ya-center{
  text-align: center;
}
.ya-mb5{
  margin-bottom: 5px !important;
}
.ya-mt5{
  margin-top: 5px !important;
}
.ya-ml5{
  margin-left: 5px !important;
}
.ya-mr5{
  margin-right: 5px !important;
}
.ya-pb5{
  padding-bottom: 5px !important;
}
.ya-pt5{
  padding-top: 5px !important;
}
.ya-pl5{
  padding-left: 5px !important;
}
.ya-pr5{
  padding-right: 5px !important;
}

.ya-mb10{
  margin-bottom: 10px !important;
}
.ya-mt10{
  margin-top: 10px !important;
}
.ya-ml10{
  margin-left: 10px !important;
}
.ya-mr10{
  margin-right: 10px !important;
}
.ya-pb10{
  padding-bottom: 10px !important;
}
.ya-pt10{
  padding-top: 10px !important;
}
.ya-pl10{
  padding-left: 10px !important;
}
.ya-pr10{
  padding-right: 10px !important;
}

.ya-mb20{
  margin-bottom: 20px !important;
}
.ya-mt20{
  margin-top: 20px !important;
}
.ya-ml20{
  margin-left: 20px !important;
}
.ya-mr20{
  margin-right: 20px !important;
}
.ya-pb20{
  padding-bottom: 20px !important;
}
.ya-pt20{
  padding-top: 20px !important;
}
.ya-pl20{
  padding-left: 20px !important;
}
.ya-pr20{
  padding-right: 20px !important;
}

.ya-mb40{
  margin-bottom: 40px !important;
}
.ya-mt40{
  margin-top: 40px !important;
}
.ya-ml40{
  margin-left: 40px !important;
}
.ya-mr40{
  margin-right: 40px !important;
}
.ya-pb40{
  padding-bottom: 40px !important;
}
.ya-pt40{
  padding-top: 40px !important;
}
.ya-pl40{
  padding-left: 40px !important;
}
.ya-pr40{
  padding-right: 20px !important;
}

.ya-middle-line{
  border-right:1px solid #969696;
}
.ya-bluef{
  color: #2db2ea;
}
.ya-font12{
  font-size: 12px;
}
.ya-font14{
  font-size: 14px;
}
.ya-font16{
  font-size: 16px;
}
.ya-font18{
  font-size: 18px;
}
.ya-font20{
  font-size: 20px;
}
.ya-font24{
  font-size: 24px;
}
.ya-font36{
  font-size: 36px;
}
.ya-fontr{
  text-align: right;
}
.ya-fontl{
  text-align: left;
}
.ya-right{
  float: right;
}
.ya-left{
  float: left;
}
.ya-pointer{
  cursor: pointer;
}
.ya-cursor-link{
  color: #515151;
}
.ya-relative{
  position: relative;
}
.ya-absolute{
  position: absolute;
}
.ya-inline-block{
  display: inline-block !important;
}
.ya-btn-green{
    background-color: #a6c53b !important;
    border-color: #a6c53b !important;
    color: #ffffff !important;
    width: 100px;
    height: 30px;
}
.ya-img-blur{
    /* filter: url("blur.svg#blur");  */
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);    
    filter: blur(10px);
    transition: all 1s;
    /* filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false); */
}
.ya-link-hover{
  color: inherit;
}
.ya-link-hover:hover{
  color: #36bac9 !important;
}
.ya-white-back{
  background-color: #ffffff;
}
.ya-hidden{
  display: none;
}
.ya-gradient{
  filter: "alpha(opacity=0 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150)  progid:DXImageTransform.Microsoft.gradient(startcolorstr=#29323a,endcolorstr=#29323a,gradientType=0)";
  -ms-filter:"alpha(opacity=0 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#29323a,endcolorstr=#29323a,gradientType=0)";
  background:linear-gradient(top, rgba(41, 50, 58, 0), rgba(41, 50, 58, 0.5));
  background:-moz-linear-gradient(top, rgba(41, 50, 58, 0), rgba(41, 50, 58, 0.5));  
  background:-o-linear-gradient(top, rgba(41, 50, 58, 0), rgba(41, 50, 58, 0.5)); 
  background:-ms-linear-gradient(top, rgba(41, 50, 58, 0), rgba(41, 50, 58, 0.5));
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(41, 50, 58, 0)), to(rgba(41, 50, 58, 0.5)))
}

@-webkit-keyframes opacity-change{
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}