body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft YaHei',arial,tahoma,sans-serif;
ol,ul,li
    list-style: none;
a
    text-align: none;
    display: block;
img
    border: none;
    display: block;
.clearfloat
    zoom: 1;
.clearfloat:after
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;