body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea
    margin: 0px;
    padding: 0px;
    font-family: 'Microsoft YaHei',arial,tahoma,sans-serif;
ol,ul,li
    list-style: none;
a
    text-align: none;
img
    border: none;
html,body
  font-family 'Microsoft YaHei'
  width 100%
  height auto !important
  overflow-x hidden
ul,li
  list-style-type none
img
  border 0
a:focus
  outline none
input,button,select,textarea
  outline none
  font-family "microsoft yahei"
  font-size inherit
  font-weight inherit
  line-height 1.5
  vertical-align middle
a
  cursor pointer
textarea
  resize none

