.m-loginArea input,
.m-loginArea textarea,
.m-loginArea select,
.m-loginArea button {
	background-color: #fff;
	font-size: 100%;
	font-family: inherit
}

.m-loginArea input:focus,
.m-loginArea textarea:focus {
	outline: 0
}

.m-loginArea a {
	text-decoration: none;
}

.m-loginArea input {
	padding: 0 4px;
	width: 128px;
	height: 22px;
	outline: none;
	border: 1px solid #bbb;
	border-radius: 1px;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #666;
	font-size: 12px;
	line-height: normal;
	line-height: 24px\9;
}

.m-loginArea ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.m-loginArea .clearfix {
	clear: both;
}

.m-loginArea .m-hidden {
	display: none;
}

.m-loginArea .text-center {
	text-align: center;
}

.m-loginArea .bgC-e0e0e0 {
	background-color: #e0e0e0;
}

.m-loginArea .font-FF8FB7 {
	color: #FF8FB7;
}
.m-warpper.LoginBg {
	// background: url(../../img/loginregiste/bg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
}
.m-warpper {
	margin: 0 auto;
}

.m-loginArea {
	width: 49%;
	min-width: 300px;
	margin: 0 auto;
	padding-bottom: 20px;
	background-color: #fff;
}

.m-loginArea h4 {
	height: 55px;
	line-height: 55px;
	margin: 0;
	padding-left: 20px;
	border-bottom: 1px solid #e0e0e0;
}

.m-loginArea form {
	width: 75%;
	margin: 0 auto;
}

.m-loginArea .m-input-row:first-child {
	margin-top: 22px;
}

.m-loginArea .m-input-row {
	margin-top: 13px;
}

.m-loginArea .m-input-row label {
	width: 100px;
	height: 38px;
	line-height: 38px;
	display: inline-block;
	float: left;
}

.m-loginArea .m-input-row .m-input {
	margin-left: 87px;
	padding-left: 22px;
}

.m-loginArea .m-input-row .m-input input {
	width: 96%;
	height: 36px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.m-loginArea .m-input-row .m-input input:hover {
	border-color: #FF6FA2;
}

.m-loginArea .m-input-row.autoLogon {
	margin-top: 20px;
	font-size: 13px;
	float: right;
}

.m-loginArea .m-input-row.autoLogon label {
	width: auto;
	height: auto;
	line-height: inherit;
}

.m-loginArea .m-input-row input[type="checkbox"] {
	width: auto;
	height: auto;
	margin: 0;
	margin-top: 1px;
	margin-right: 5px;
	float: left;
	border: none;
}

.m-loginArea .loginBar {
	width: 75%;
	margin: 26px auto 0 auto;
}

.loginBar button {
	background-color: #ff6fa2;
	border: none;
	color: #fff;
	outline: 0;
	padding: 8px 24px;
	border-radius: 5px;
	font-size: 13px;
	cursor: pointer;
	margin-right: 22px;
	display: inline-block;
	float: left;
}

.loginBar button:active {
	background-color: #c65980;
}

.loginBar p {
	line-height: 35px;
}

.loginBar p span {
	margin-right: 20px;
}

.loginBar p span a {
	font-size: 12px;
}

.loginBar p span img {
	margin-right: 5px;
}

.m-tabArea {
	width: 918px;
}

.m-tabArea .m-tabArea-column {
	background-color: #fff;
}

.m-tabArea-column li {
	height: 45px;
	line-height: 45px;
	padding: 0 35px;
	float: left;
	width: auto;
}

.m-tabArea-column li.m-active {
	height: 43px;
	border-bottom: 2px solid #FF6FA2;
	font-weight: 700;
}

.m-tabArea-content {
	background-color: #fff;
	padding: 20px 35px;
	margin-top: 20px;
}

.m-tabArea-content-head {
	background-color: #F5F5F5;
	padding-left: 15px;
	height: 45px;
	line-height: 45px;
}

.m-tabArea-content-head li {
	width: 170px;
	float: left;
	height: 45px;
	line-height: 45px;
}

.m-tabArea-content-head .w-320,
.m-tabArea-content-body li span.w-320 {
	width: 320px;
	height: auto;
}

.m-tabArea-content-head .w-auto,
.m-tabArea-content-body .w-auto {
	width: auto;
	height: auto;
}

.m-tabArea-content-body .w-auto {
	margin-left: 340px;
	margin-top: -40px;
}

.m-tabArea-content-body li {
	padding-left: 15px;
}
.m-tabArea-content-body li.text-center {
	padding: 40px;
}

.m-tabArea-content-body li span {
	width: 170px;
	height: 40px;
	line-height: 40px;
	float: left;
	font-size: 12px;
}

.m-tabArea-content-body li span.time {
	color: #979596;
}

.m-tabArea-content-body .m-gift {
	width: 125px;
}

.m-tabArea-content-body li span a {
	color: #000;
}

.m-evenColimn {
	background-color: #FAFAFA;
}

.m-tabArea-settlement {
	width: 60%;
	margin: 0 auto;
}

.m-tabArea-settlement img {
	width: 166px;
	height: 144px;
	float: left;
}

.m-tabArea-settlement-content {
	width: auto;
	margin-left: 196px;
	padding-top: 4px;
}

.m-tabArea-settlement-content .m-settlement {
	line-height: 35px;
}

.m-tabArea-settlement-content .m-settlement span:first-child {
	width: 100px;
	text-align: right;
	display: inline-block;
}

.m-tabArea-settlement-content .m-rule {
	position: relative;
	background-color: #FF8FB7;
	color: #fff;
	text-align: center;
	margin-top: 5px;
	line-height: 30px;
}

.m-tabArea-settlement-content .m-rule img {
	position: absolute;
	right: 0;
	width: 15px;
	height: 30px;
}